<mat-dialog-content class="d-flex flex-column bg-white">
    <form [formGroup]="form" (ngSubmit)="variant() === 'add' ? onSubmitAddContact() : onSubmitUpdateContact()"
        aria-labelledby="form-title">

        <div class="flex flex-col mb-3">

            <p class="pb-1">Name</p>
            <mat-form-field appearance="outline" class="wide-field" aria-label="Name">
                <input matInput formControlName="name" />
                @if(form.get('name')?.hasError('required') && form.get('name')?.touched) {
                <mat-error class="font-size-small">Please enter a name</mat-error>
                }
            </mat-form-field>
        </div>

        <div class="flex flex-col mb-3">

            <p class="pb-1">Contact Number</p>
            <mat-form-field appearance="outline" class=" wide-field" aria-label="Contact Number">
                <input matInput formControlName="contactNumber" />
                @if(form.get('contactNumber')?.hasError('required') && form.get('contactNumber')?.touched) {
                <mat-error class="font-size-small">Please enter a contact number</mat-error>
                } @else if(form.get('contactNumber')?.hasError('pattern') && form.get('contactNumber')?.touched) {
                <mat-error class="font-size-small">Only 11 digits allowed</mat-error>
                }
            </mat-form-field>

        </div>
        <div class="flex flex-col mb-2">

            <p class="pb-1">Email Address</p>
            <mat-form-field appearance="outline" class="mb-3 wide-field w-full" aria-label="Email Address">
                <input matInput formControlName="email" />
                @if(form.get('email')?.hasError('required') && form.get('email')?.touched) {
                <mat-error class="font-size-small">Please enter an email address</mat-error>
                } @else if(form.get('email')?.hasError('pattern') && form.get('email')?.touched) {
                <mat-error class="font-size-small">Please enter a valid email address</mat-error>
                }
            </mat-form-field>
        </div>


        <!-- Buttons inside the form -->
            <div class="flex justify-between w-full">
                <button mat-stroked-button type="button" (click)="onNoClick()" aria-label="Cancel">Cancel</button>
                <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid" aria-label="Submit">
                    {{ variant() === 'add' ? 'Add Contact' : 'Save Changes' }}
                </button>
            </div>

    </form>
</mat-dialog-content>