<div class="pt-8 space-y-5">
    <button class="">
        <div  class="inline-flex items-center mb-4 text-black custom_font">

            <a routerLink="/home" class="material-icons mr-2 ">arrow_back</a>
            Contact Information
        </div>
    </button>

    <div class="flex justify-between bg-[#ffffff] p-4 rounded-lg border border-gray-300 py-8 flex-wrap gap-6">

        <div>
            <p class="custom_font_name text-[12px] text-gray-500">Full Name</p>
            <p class="custom_font text-[14px]">{{contact().name}}</p>
        </div>
        <div>
            <p class="custom_font_name text-[12px] text-gray-500">Email</p>
            <p class="custom_font text-[14px]">{{contact().email}}</p>
        </div>
        <div>
            <p class="custom_font_name text-[12px] text-gray-500">Contact Number</p>
            <p class="custom_font text-[14px]">{{contact().contactNumber | phoneNumberFormat}}</p>
        </div>
    </div>
</div>