@import "tailwindcss";/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

/* You can add global styles to this file, and also import other style files */

:root {
    background-color: #f8f8f8;
    /* --mat-sys-surface: #ffffff; */
    /* --mat-sys-primary: #7d00fa; */
    /* --mat-sys-secondary: #4f0077; */
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
